<div class="g_container" id="g_container">
  <h1><%= @title %></h1>
  Inside the index, eh!
  
  <% if not notice.nil? %>
    <div class="notice">
      Yes, there is a notice message!<br />
      <%= notice.inspect %><br />
      <%# notice.each do |key, val| %>
        <%#= key %>, <%#= val %><br />
      <%# end %>
      <% notice.each do |key, val| %>
        <%= key %>, <%= val %><br />
      <% end %>
    </div>
  <% end %>
    
  <%#= render 'shared/micropost_form' %>

  <%#= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%#= will_paginate %>
</div>

